{% extends "layout.html" %}

{% block body %}
    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Md. Abdullah Al Fuad.</h1>
        <p>Game Developer and freelencer.</p>
        <img src="https://avatars.githubusercontent.com/u/77972137?s=400&u=1ca2ed44c12be4b2955f21460203fff344bb927e&v=4" alt="boy" class="w3-image" width="992" height="1108">
        </br>
        </br>
        <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
        <p class="w3-wide">Game Backend Development</p>
        <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:95%"></div>
        </div>
        <p class="w3-wide">Art Skill</p>
        <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
        </div>
        <p class="w3-wide">Marketing</p>
        <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
        </div>
    </header>

    </div>    
{% endblock %}